:root .embedFull-1HGV2S {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background: var(--embed);
}

:root .markup-eYLPri code {
  border-radius: 5px 5px 5px 5px;
  background: var(--embed);
}
:root .hljs {
  border: none;
  border-radius: var(--border-radius);
}
:root .wrapperAudio-1Bzv_Z {
  padding: 10px 0 0 0;
  border-radius: var(--border-radius);
}
:root .audioMetadata-1Hrt8T {
  padding: 5px 10px;
}
:root .audioControls-3fmemK {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .spoilerText-27bIiA.hidden-3B-Rum, :root .spoilerText-27bIiA.hidden-3B-Rum:hover {
  background-color: var(--background-secondary-alt);
}
:root .wrapper-1HIH0j {
  border-radius: var(--border-radius);
}
:root .invite-3uuHYQ {
  background-color: var(--background-secondary);
  border: none;
  border-radius: var(--border-radius);
}
:root .embedSpotify-1rDvOE {
  border-radius: var(--border-radius);
}
:root .tile-2mmK5T {
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}
:root .tileHorizontal-1DBMDZ.tile-2mmK5T:hover {
  background-color: var(--background-secondary-alt);
}
:root .invalidPoop--w1123 {
  background-color: rgba(0, 0, 0, 0.103);
}
:root .autocomplete-3NRXG8, :root .option-Tt7anD {
  background-color: var(--background-secondary-alt);
}
:root .categoryHeader-OpJ1Ly, :root .selected-3H3-RC {
  background-color: var(--background-tertiary);
}
:root .everyonePopout-nEbJY3 {
  background-color: var(--background-primary);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .emojiItem-277VFM.emojiItemSelected-2Lg50V {
  background-color: var(--background-modifier-selected);
}
:root .searchBar-2M9mRP {
  border-radius: var(--border-radius);
}
:root .imageLoading-2uloYN {
  background-image: none !important;
  background-color: var(--background-primary);
  border-radius: 8px;
}
:root .scroller-2GkvCq {
  background: var(--background-tertiary);
}
:root .container-KM8BU6, :root .reactors-1VXca7 {
  background: var(--background-secondary);
}
:root .reactionSelected-1aMb2K {
  background-color: rgba(110, 133, 211, 0.1294117647);
}
:root .reactorDefault-3GSyaV {
  -webkit-box-shadow: inset 0 -1px 0 var(--background-primary);
          box-shadow: inset 0 -1px 0 var(--background-primary);
}
:root .message-G6O-Wv {
  background: var(--background-primary);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .textContainer-36wgKK, :root .footer-GXWBBp {
  border: none;
}
:root .popoutContainer-2wbmiM {
  border-radius: var(--border-radius);
}
:root .newMessagesBar-1hF-9G {
  top: 5px;
  border-radius: var(--border-radius);
  background-color: var(--background-accent);
  padding-top: 0;
}
:root .jumpToPresentBar-1cEnH0 {
  bottom: 12px;
  padding-bottom: 0;
  border-radius: var(--border-radius);
}
:root .wrapper-2SplAX {
  border-radius: var(--border-radius);
}
:root .reaction-2A2y9y {
  border-radius: var(--border-radius);
}
:root .wrapper-2vIMkT {
  border-radius: var(--border-radius);
}
:root .botTagCozy-3NTBvK {
  margin-left: .4rem;
}
:root .botTagRegular-kpctgU {
  background-color: var(--blurple);
}
:root .botTag-1NoD0B {
  top: .2rem;
}
:root .cooldownWrapper-2k1jHK {
  color: var(--text-muted) !important;
}

:root .guilds-2JjMmN .scroller-3X7KbA {
  padding: 8px 0 130px 0;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-28eC3z foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--border-radius);
  -webkit-transition: border-radius 0.15s;
  transition: border-radius 0.15s;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-28eC3z foreignObject:hover {
  border-radius: calc(var(--border-radius) - 5px);
}
:root .guilds-2JjMmN .scroller-3X7KbA .folder-241Joy {
  background-color: transparent;
}
:root .guilds-2JjMmN .scroller-3X7KbA .circleIconButton-1VxDrg {
  color: var(--background-accent);
  background-color: var(--background-secondary-alt) !important;
}

.theme-light .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.theme-light .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--text-normal);
}

.theme-dark .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.theme-dark .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--background-primary);
}

.theme-dark .textContentFooter-2JnNv8 {
  background: transparent !important;
}

.wrapperSimple-Js2rIO,
.folderIconWrapper-226oVY, .folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-, .flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--border-radius);
}

.panels-3wFtMD {
  z-index: unset;
}

:root .content-1SgpWY .sidebar-1tnWFu {
  border-radius: 0;
}
:root #guild-header-popout .item-1OdjEX {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
:root #guild-header-popout .item-1OdjEX .iconContainer-1-SsTR {
  margin: 0 8px 0 0;
}
:root .colorPremium-vwmYZQ.focused-3qFvc8 .icon-E4cW1l,
:root .colorPremium-vwmYZQ:active:not(.hideInteraction-2jPGL_) .icon-E4cW1l {
  color: #ff73fa;
}
:root .content-1gYQeQ, :root .container-32HW5s {
  border-radius: var(--border-radius);
}
:root .content-1Tgc42 {
  border-radius: var(--border-radius);
}
:root .container-1ILvLB .header-2C89wJ {
  background-color: var(--background-tertiary);
}
:root .container-1ILvLB section {
  background-color: var(--background-secondary);
}

:root [href="https://support.discord.com"], :root .searchLearnMore-7__o_n .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  display: none;
}
:root .search-39IXmY {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 0;
}
:root .search-39IXmY .focused-1xh-wG .searchBar-jGtisZ, :root .search-39IXmY .open-1F8u2c .searchBar-jGtisZ {
  width: 320px;
  border-radius: var(--border-radius);
}
:root .search-39IXmY .search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: transparent;
}
:root .search-39IXmY .search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 240px;
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius);
}
:root .search-39IXmY .search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
:root .search-39IXmY .search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj .icon-18rqoe {
  color: var(--interactive-normal) !important;
}
:root .search-39IXmY .search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  -webkit-transform: scale(1);
          transform: scale(1);
}
:root .search-39IXmY .searchAnswer-23w-CH, :root .search-39IXmY .searchFilter-2UfsDk {
  background-color: var(--background-primary);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
:root .container-2McqkF {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}
:root .container-2McqkF .queryContainer-ZunrLZ {
  border-bottom: none;
}
:root .container-2McqkF .focused-2FU0YH {
  background-color: var(--background-secondary-alt);
  border-bottom: none;
}
:root .container-2McqkF .resultsGroup-1BPR25::before {
  display: none;
}
:root .container-2McqkF .resultsGroup-1BPR25 .header-3A13BX {
  text-align: center;
}
:root .container-2McqkF .option-ayUoaq {
  border-radius: var(--border-radius);
}
:root .container-2McqkF .option-ayUoaq:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(54, 57, 63, 0)), color-stop(80%, var(--background-secondary)));
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary) 80%);
}
:root .container-2McqkF .option-ayUoaq.selected-rZcOL-:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(54, 57, 63, 0)), color-stop(80%, var(--background-secondary)));
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary) 80%);
}
:root .container-2McqkF .option-ayUoaq .answer-2fBfuP {
  color: var(--interactive-muted);
}
:root .calendarPicker-sDhzdi .react-datepicker {
  background-color: var(--background-secondary-alt);
}
:root .calendarPicker-sDhzdi .react-datepicker__day, :root .calendarPicker-sDhzdi .react-datepicker__header {
  background: var(--background-secondary-alt) !important;
  border-color: var(--background-tertiary) !important;
}
:root .calendarPicker-sDhzdi .react-datepicker__day::after, :root .calendarPicker-sDhzdi .react-datepicker__header::after {
  background-color: var(--background-accent) !important;
}
:root .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY,
:root .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover {
  background-color: var(--background-accent);
}
:root .searchLearnMore-7__o_n {
  display: none;
}
:root .searchResultsWrap-5RVOkx {
  overflow: visible;
}
:root .searchResultsWrap-5RVOkx::before {
  content: "Search results";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .searchResultsWrap-5RVOkx::after {
  content: "";
  position: absolute;
  bottom: -35px;
  z-index: 1;
  width: 100%;
  height: 35px;
  background-color: var(--background-secondary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, var(--header-primary)), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 21px 2px;
  background-repeat: repeat-x;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto 10px auto;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  height: unset;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh > * {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh .totalResults-2On644 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh .tab-2j5AEF {
  padding: 0;
  margin: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ {
  padding: 8px 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .searchResultGroup-1lU_-i {
  padding: 0 2px 0 8px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .repliedMessage-3Z6XBG {
  margin-left: 8px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .repliedMessage-3Z6XBG::before {
  display: none;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .wrapper-30-Nkg {
  padding: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 8px auto;
  grid-template-columns: 40px auto;
  grid-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 5px 5px 8px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .header-2jRmjb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .header-2jRmjb .timestamp-p1Df1m {
  margin-left: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .avatar-2e8lTP {
  position: static;
  margin-top: 0;
}
:root .avatar-2e8lTP {
  border-radius: 10px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .messageContent-2t3eCI {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 0 0 0 10px;
  margin: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .embedWrapper-1MtIDg {
  margin-left: 5px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .pageControl-1XvHg0 {
  width: 100%;
}
:root .messagesPopoutWrap-3zryHW {
  border-radius: var(--border-radius);
}
:root .header-3OsQeK, :root .content-1jQy2l::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #303030;
  border-top-left-radius: 10px;
}
:root .container-1-ERn5 {
  background-color: var(--background-tertiary);
}
:root .container-2o3qEW {
  background: none;
}
:root .members-3WRCEx {
  border-radius: var(--border-radius) 0 0;
}
:root .membersWrap-3NUR2t::before {
  content: "Member list";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .layout-1qmrhw {
  border-radius: var(--border-radius);
}
:root .root-2uUafN.root-g14mjS.small-23Atuv {
  border-radius: var(--border-radius);
}

:root .typeMacOS-3V4xXE {
  margin-top: 20px;
  background-color: var(--background-tertiary);
}
.platform-win .typeWindows-2-g3UY {
  height: 9px;
  margin-top: 0;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  background: transparent;
}
.platform-win .winButton-3UMjdg {
  position: relative;
  top: -1px;
  right: 0;
  height: 48px;
  width: 40px;
}
.platform-win .wordmarkWindows-2dq6rw {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton-3UMjdg {
  right: 30%;
}
.platform-win .closeButton-30b1gR {
  right: unset;
  left: 0;
}
.platform-win #app-mount .typeWindows-2-g3UY::before {
  content: none !important;
}
:root .layers-OrUESM {
  z-index: 1;
}
:root .layers-OrUESM > .layer-86YKbF:first-child {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
:root .layers-OrUESM > .layer-86YKbF.stop-animations:first-child {
  z-index: 1;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
:root .layers-OrUESM > :nth-child(2) {
  height: 100%;
  left: 72px;
  z-index: 2;
  background-color: transparent;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
@media (min-width: 1350px) {
  :root .standardSidebarView-E9Pc3j {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    overflow: hidden;
  }
}
:root .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}
:root .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebar-nqHbhN {
  width: 232px;
  padding: 60px 10px;
}
:root .contentColumn-1C7as6, :root .customColumn-2n-oKU, :root .hero-1aNo0v, :root .notificationSettings-1U0JsJ, :root .noticeRegion-qjyUVg, :root .customScroller-m1-jZn > div, :root .userSettingsVoice-1_dzjw {
  max-width: 95%;
}
:root .featuresHeader-2bjq5B {
  text-align: center;
}
:root .userSettingsVoice-1_dzjw .children-1xdcWE > :nth-child(9) .flexChild-3PzYmX:last-child {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
:root .noticeRegion-qjyUVg {
  right: 0;
}
:root .noticeRegion-qjyUVg .container-20TyK0 {
  background-color: var(--background-tertiary) !important;
}
:root .closeButton-PCZcma {
  border: none;
}
:root .closeButton-PCZcma svg {
  width: 23px;
  height: 23px;
}
:root .keybind-13vtq8 {
  display: none;
}
:root .perksModal-fSYqOq {
  background: var(--background-primary);
}
:root .tierMarkerBackground-G8FoN4,
:root .tierHeaderLocked-1s2JJz,
:root .barBackground-unEPDT,
:root .icon-2TbMdT {
  background: var(--background-secondary-alt);
}
:root .option-2KkUJO.selected-rZcOL-,
:root .tierBody-16Chc9,
:root .perk-2WeBWW,
:root .tierMarkerInProgress-2Tdxjz {
  background: var(--background-secondary) !important;
}
:root .accountProfileCard-lbN7n- {
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
  max-width: 75%;
}
:root .avatar-3mTjvZ {
  top: 83px;
  left: 23px;
}
:root .accountProfileCard-lbN7n- .background-3d_SjE {
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-53kreU .baseLayoutProfileThemes-1Jj-oN .profileCustomizationPreview-2-Y173 {
  background-color: transparent;
  overflow: hidden;
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-53kreU .baseLayoutProfileThemes-1Jj-oN .profileCustomizationPreview-2-Y173 .avatarUploader-CHGwK7 foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-53kreU .baseLayoutProfileThemes-1Jj-oN .profileCustomizationPreview-2-Y173 .avatarUploader-CHGwK7 .avatarHint-2g3Mcd {
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-53kreU .baseLayoutProfileThemes-1Jj-oN .profileCustomizationPreview-2-Y173 .avatarUploader-CHGwK7 .status-b9jLr4 {
  background-color: transparent;
}
:root .item-2idW98 {
  border-radius: var(--border-radius);
}
:root .item-2idW98 .radioBar-3w9XY- {
  border: none;
}
:root .item-2idW98 .radioBar-3w9XY-:first-child .radioIconForeground-2BMavi {
  color: var(--radio-bar-accent-color);
}
:root .formNotice-2nS8ey {
  border-radius: var(--border-radius);
}
:root .formNotice-2nS8ey, :root .cardPrimaryOutline-1ofwVz {
  border: none;
}
:root .cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .connectContainer-1hylYM, :root .connection-YOVI9j {
  border-radius: var(--border-radius);
}
:root .connectionHeader-Ixbb1s {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .premiumTab-39eQzY .premiumLabel-3HPvdB {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
:root .premiumTab-39eQzY svg {
  fill: var(--background-accent) !important;
  margin-right: 5px;
}
:root .feature-2IUcBI {
  border-radius: var(--border-radius);
}
:root .gemIndicatorContainer-PqApbX {
  background-color: var(--background-tertiary);
}
:root .cardWrapper-1bSePP, :root .card-2xlCYc:hover {
  border-radius: var(--border-radius);
}
:root .input-2g-os5 {
  border: none;
}
:root .paymentRow-1HKOLu, :root .pageActions-1crTQL, :root .codeRedemptionRedirect-2hYMSQ, :root .paginator-1eqD2g {
  background: var(--background-secondary-alt);
}
:root .payment-2bOh4k:hover {
  background-color: var(--background-secondary);
}
:root .expandedInfo-1W31i3 {
  background: var(--background-secondary);
}
:root .checked-1pZh2h {
  background: transparent;
  border-color: transparent;
}
:root .bottomDivider-ZmTm-j {
  border-bottom-color: transparent;
}
:root .codeRedemptionRedirect-2hYMSQ {
  border: none;
}
:root .paymentPane-ut5qKZ, :root .expandedInfo-1W31i3 {
  border-radius: var(--border-radius);
}
:root .barFill-2Bh7CX {
  background: var(--background-accent);
}
:root .userSettingsVoice-1fEtsL .cameraWrapper-3a7Ngv {
  background-color: var(--background-secondary-alt);
  border: none;
}
:root .bar-1Bhnl9 {
  background-color: var(--background-secondary-alt);
}
:root .progress-1S-TDF {
  background-color: var(--background-primary);
}
:root .notches-2w7UZJ.gray-3wP137 {
  color: var(--background-secondary);
}
:root .css-118dehu-control, :root .css-gvi9bl-control, :root .css-6fzn47-control, :root .css-3vaxre-menu, :root .css-17e1tep-control {
  border: none;
}
:root .css-3vaxre-menu {
  background-color: var(--background-primary);
}
:root .css-gvi9bl-control, :root .css-118dehu-control, :root .userSettingsVoice-1_dzjw .cameraWrapper-3a7Ngv {
  border-radius: var(--border-radius);
}
:root .previewContainer-37c2Si .media-engine-video {
  background-color: transparent;
}
:root .container-1_EVMa {
  border: none;
}
:root .container-3jbRo5, :root .container-1_EVMa {
  border-radius: var(--border-radius);
}
:root .cardPrimary-3qRT__ {
  background-color: var(--background-secondary-alt);
}
:root .game-2f2vPC {
  -webkit-box-shadow: none;
          box-shadow: none;
}
:root .notDetected-M3Ghh2, :root .addGamePopout-2SKNIV, :root .card-2ART2V:before {
  background: var(--background-secondary-alt);
}
:root .gameNameInput-2wbDJ9:hover, :root .gameNameInput-2wbDJ9:focus {
  background-color: var(--background-tertiary);
}
:root .card-2ART2V:before, :root .gameNameInput-2wbDJ9 {
  border: none;
}
:root .default-1Tkeeg, :root .default-1Tkeeg:hover {
  background-color: var(--background-tertiary);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .lastPlayed-1jum9A {
  color: var(--text-muted);
}
:root .activeGame-1OdxzI {
  border-radius: var(--border-radius);
}
:root .addGamePopout-2SKNIV {
  border: none;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  border-radius: var(--border-radius);
}
:root .game-2f2vPC, :root .game-2f2vPC::before {
  border-radius: var(--border-radius);
}
:root .membershipDialog-2wAdpQ {
  border-radius: var(--border-radius);
}
:root .cardPrimary-3qRT__ {
  border: none;
  border-radius: var(--border-radius);
}
:root .cardPrimary-3qRT__ .previewMessage-2uxBrA {
  border-radius: var(--border-radius);
}
:root .powercord-entities-manage-tabs, :root .developerPortalCtaWrapper-2XNafh {
  border-radius: var(--border-radius);
}
:root .bd-addon-list .bd-addon-card, :root .bd-search-wrapper, :root #floating-editor-window {
  border-radius: var(--border-radius);
}
:root .bd-select {
  border: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border-radius: var(--border-radius);
}
:root .bd-select .menu-open {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
:root .bd-select .bd-select-options {
  border: none;
  border-radius: var(--border-radius);
}
:root .bd-select .bd-select-options:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}
:root .bd-controls {
  border-radius: var(--border-radius);
  overflow: hidden;
}
:root .bd-controls > button {
  border-radius: unset !important;
}
:root .notice-2HEN-u[id] {
  margin: 0 450px -20px 0;
  border-radius: 0 8px 0 0 !important;
}
:root .notice-2HEN-u[id] + .layers-OrUESM .guilds-2JjMmN + :nth-child(2) {
  border-radius: 0;
}
:root .notice-2HEN-u:not([id]) {
  border-top-left-radius: 0;
}
:root .container-2oNtJn {
  border-radius: var(--border-radius);
}
:root .imageUploaderIcon-2OHmFu {
  display: none;
}
:root .select-1Ia3hD {
  border-radius: var(--border-radius);
}
:root .select-1Ia3hD[aria-expanded=true] {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .select-1Ia3hD[aria-expanded=true].selectPositionTop-1Xy1Sp {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .popout-1KHNAq {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .popout-1KHNAq.popoutPositionTop-1GenHR {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .previewContainer-1xQAsw {
  border-radius: var(--border-radius);
}
:root .colorPickerCustom-1swUKF {
  background: var(--background-secondary);
  border: none;
  border-radius: var(--border-radius);
}
:root .addRoleButton-3Y-nzm ~ .draggable-1EOU8o {
  margin: 2px 0;
}
:root .roleDot-2a4Pv7 {
  border: none;
}
:root .emojiAliasInput-3ZhdKx .emojiInput-B8MGXq {
  background: var(--background-secondary-alt);
}
:root .input-2g-os5:focus {
  border-color: var(--background-accent);
}
:root .headerClickable-zGQJz3, :root .headerDefault-1e6yjj, :root .headerExpanded-1-zwDr {
  background: var(--background-secondary-alt);
}
:root .auditLog-1NVAY0, :root .header-2pgFQm {
  border: none;
  border-radius: var(--border-radius);
}
:root .auditLog-1NVAY0 .headerExpanded-1-zwDr, :root .header-2pgFQm .headerExpanded-1-zwDr {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .auditLog-1NVAY0 .changeDetails-1kMZqI, :root .header-2pgFQm .changeDetails-1kMZqI {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .divider-M3saWq {
  display: none;
}
:root .cardPrimaryEditable-2mz_3i {
  border: none;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .copyInput-3AbKWB {
  border: none;
  border-radius: var(--border-radius);
}
:root .descriptionBox-1EKQKL {
  border-radius: var(--border-radius);
}
:root .css-dwar6a-menu {
  background-color: var(--background-secondary-alt);
}
:root .error-3AuLwi {
  border-radius: var(--border-radius);
}
:root .featureCard-1RR4Tl, :root .checklistContainer-mFJZEJ {
  border-radius: var(--border-radius);
}
:root .checklistHeader-1KWcEY {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .checklist-3Y6Fqp {
  border-radius: var(--border-radius);
}
:root .checklist-3Y6Fqp .header-2Y0-A- {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .exampleContainer-2O-nVK {
  border-radius: var(--border-radius);
}
:root .enableContainer-H2cRts {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .previewContainer-29oeA6 {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .previewContainer-29oeA6 .welcomeChannel-_Q4qAA {
  border-radius: var(--border-radius);
}
:root [aria-controls=GUILD_PREMIUM-tab], :root [aria-controls="Discord Nitro-tab"] {
  color: var(--background-accent) !important;
  background-color: var(--background-modifier-selected) !important;
}
:root .tierBody-1d3UiS {
  background-color: var(--background-secondary);
}
:root .tierHeaderContent-2SPBAA, :root .tierInProgress-1vFUnw {
  background: var(--background-tertiary);
}
:root .background-3xJH_4 {
  color: var(--background-secondary-alt);
}
:root .tierHeader-rlkkJd, :root .tierHeaderContent-2SPBAA {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .tierBody-1d3UiS {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .overflowRolesPopout-1Puiuq, :root .overflowRolesPopoutArrow-2R7g3K {
  background-color: var(--background-secondary);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}

:root .privateChannels-oVe7HL .interactive-1vLZ_I {
  border-radius: var(--border-radius);
}
:root .container-2cd8Mz {
  background-color: var(--background-primary);
}
:root .container-2cd8Mz .children-3xh0VB:after {
  content: none;
}
:root .container-2cd8Mz .container-ZMc96U {
  background: unset;
}
:root .container-2cd8Mz .peopleListItem-u6dGxF {
  border-radius: var(--border-radius);
  border-top: none;
  background: var(--background-modifier-hover);
  margin: 8px 10px 8px 20px;
  padding: 16px 10px;
}
:root .container-2cd8Mz .peopleListItem-u6dGxF:hover .actionButton-3-B2x- {
  background-color: var(--background-secondary-alt);
}
:root .nowPlayingColumn-1eCBCN .scroller-hE2gWq {
  border: none;
}
:root .controlButton-2PMNom foreignObject {
  -webkit-mask: none;
          mask: none;
}
:root .colorable-3rVGna.primaryDark-2UJt1G {
  background-color: var(--background-primary);
}
:root .wrapper-1gVUIN {
  background-color: var(--background-tertiary);
}
:root .inset-SbsSFp {
  background-color: var(--background-primary);
}
:root .separator-2OaeRP {
  display: none;
}
:root .voiceSectionIconWrapper-4yoj76 {
  background-color: var(--background-tertiary);
}
:root .outer-2JOHae.active-1W_Gl9, :root .outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--activity-card-background);
}
:root .itemCard-3Etziu {
  border-radius: var(--border-radius);
}
:root .itemCard-3Etziu .body-16rSsp {
  border-radius: calc(var(--border-radius) - 10px);
}
:root .quickSelectPopout-2F0PXw.regionSelectPopout-3sEzVB {
  background-color: var(--background-secondary-alt);
}

:root .app-3xd6d0::before, :root .app-3xd6d0::after, :root .app-2CXKsg::after, :root .app-2CXKsg::before, :root .layers-OrUESM::before, :root .layers-OrUESM::after, :root .app-3xd6d0::before, :root .bg-1QIAus::after, :root .bg-1QIAus::before {
  content: "";
  position: fixed;
  z-index: 1;
  pointer-events: none;
}


:root button, :root input, :root textarea, :root .item-3XjbnG:not([class^=tabBarItem-]), :root .menu-1QACrS {
  border-radius: var(--border-radius) !important;
}
:root .modal-2RrUKJ, :root .root-g14mjS, :root .uploadModal-2ie9O_ {
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .footer-31IekZ, :root .footer-VCsJQY {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--background-tertiary);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .accountProfilePopoutWrapper-3GskID {
  left: -24px;
}
:root .accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda {
  -webkit-backdrop-filter: unset;
          backdrop-filter: unset;
}
:root .select-1Ia3hD,
:root .popout-1KHNAq {
  border: none;
}
:root .select-1Ia3hD.open-1FRZsK,
:root .popout-1KHNAq {
  background-color: var(--background-secondary-alt);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
:root .theme-dark .footer-31IekZ {
  background: var(--background-tertiary);
}
:root .select-1Ia3hD, :root .popout-1KHNAq {
  border: none;
}
:root .titleBar-1it3bQ .wordmark-2u86JB {
  display: none;
}
:root .powercord-toast {
  border-radius: var(--border-radius);
}
:root .powercord-toast .header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .powercord-toast .buttons > .button-f2h6uQ:first-child {
  border-bottom-left-radius: var(--border-radius);
}
:root .powercord-toast .buttons > .button-f2h6uQ:last-child {
  border-bottom-right-radius: var(--border-radius);
}
:root .sprite-2lxwfc {
  -webkit-filter: none !important;
          filter: none !important;
}
:root .header-1c1AhF {
  overflow-x: visible;
}
:root .categoryItem-1QIroW .itemInner-gPkiWb {
  background-color: transparent;
}
:root .pageWrapper-2PwDoS {
  background-color: var(--background-primary);
}
:root .notice-12Koq- {
  border-top-left-radius: 0;
  background-color: var(--background-tertiary);
}
:root .button-3_1yil:hover {
  background-color: transparent;
}
:root .headerImage-2D5D-v, :root .card-2TuZPZ {
  border-radius: var(--border-radius);
}
:root .tile-2TcwiO {
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .tile-2TcwiO .button-3Vyz67 {
  background-color: var(--background-accent);
}
:root .contentWrapper-3oy4Xo {
  background: var(--background-secondary);
}
:root .root-g14mjS:not(.modal-3Crloo) {
  background: var(--background-secondary);
}
:root .keyboardShortcutsModal-2CRmCm {
  background: var(--background-secondary);
}
:root .scroller-s-wehS {
  background: var(--background-primary);
}
:root .whyYouMightLikeIt-2N2Df7, :root .content-1W9-9i, :root .bodySection-3iDdop, :root .row-2qQ--F {
  background: var(--background-secondary);
}
:root .toolbar-37BrJ5 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background-color: var(--background-secondary-alt);
}
:root .toolbar-37BrJ5::before {
  border-top: 8px solid var(--background-secondary-alt);
}
:root .toolbar-37BrJ5 .button-lA2rvH {
  background-color: transparent !important;
}
.platform-win .container-ZMc96U {
  padding-right: 125px;
  background-color: var(--embed);
}
.theme-dark .children-3xh0VB:after {
  background: transparent !important;
}
:root #permissions-modal-wrapper #permissions-modal {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11) !important;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11) !important;
  border-color: var(--background-tertiary) !important;
}
:root #permissions-modal-wrapper .header {
  background: var(--background-tertiary) !important;
  text-align: center !important;
}
:root #permissions-modal-wrapper .role-side,
:root #permissions-modal-wrapper .perm-side {
  background: var(--background-secondary) !important;
}
:root #MemberCount {
  width: 320px;
}
:root #MemberCount {
  background-color: var(--background-primary);
}
:root .total-members.counts {
  background-color: var(--background-primary);
}
.panels-3wFtMD {
  border-radius: var(--border-radius);
}

.theme-dark .scrollableContainer-15eg7h {
    background-color: var(--embed);
}
.channelTextArea-1FufC0 {
  background-color: var(--embed);
}

.theme-dark .panels-3wFtMD > .container-YkUktl {
  background-color: var(--background-secondary);
  border-top: 1px solid var(--background-accent);
}

.mainCard-3KBsBI {
  background-color: var(--embed);
}

:root .rolePill-2IJ1vo {
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

:root .container-3wLKDe {
  background-color: var(--background-primary);
}

:root .container-1zzFcN {
  border-bottom: 0 transparent;
}
