/* Panels */
/* Channels header */
:root .container__7c79d {
    background-color: #303030;
}
/* Messages header */
:root .container__11d72 {
    background-color: #272727;
}
/* Remove weird shadow */
.children__32014::after {
    content: none !important;
}

/* Messages */
/* User profile picture */
:root .avatar__08316 {
    border-radius: var(--user-profile-picture-border-radius);
}

/* User area (left bottom corner) */
:root .panels__58331 {
    border-top: var(--background-accent) 1px solid;
}
:root .panels__58331 .container_ca50b9 {
    background-color: var(--background-secondary);
}
/* Voice controls */
:root .container_d667ff {
    background-color: var(--background-secondary);
}
/* Voice control icons */
:root .button__66e8c {
    background-color: var(--background-accent);
}

/* Embed */
:root .embedFull__8dc21 {
    border-left: 2px solid var(--background-embed);
    background-color: var(--background-embed);
}
/* Invite */
:root .wrapper_efe67f {
    background-color: var(--background-embed);
}
/* Code */
:root .hljs {
    background-color: var(--background-embed);
    border: none;
}
/* Channel selected / hovered */
:root .modeSelected__487d6 .link__95dc0, .modeSelected__487d6:hover .link__95dc0 {
    background-color: var(--background-accent);
}
/* Thread channel background */
:root .container_b181b6 {
    background-color: var(--background-primary);
}
/* Thread channel card */
:root .mainCard__8a660 {
    background-color: var(--background-embed);
}
/* Thread channel card text container */
:root .textContentFooter__5a630 {
    /* Add blur to make foreground more visible */
    background: rgba(39, 39, 39, 0);
    backdrop-filter: blur(2px);
}
/* Autocomplete */
:root .wrapper__4e8f1, .wrapper_cd625e, .autocomplete_df266d {
    background-color: var(--background-embed);
}
:root .autocomplete_df266d, .categoryHeader_f97a5f {
    background-color: var(--background-secondary);
}
/* Searchbar */
:root .searchBar_e0c60b {
    background-color: var(--background-secondary);
}

/* Titlebar */
:root .wordmark__0d178 {
    display: none;
}

/* Unnecessary */
:root [href="https://support.discord.com"] {
    display: none;
}
